
 circle{
                fill: red; /*Set the color of the circle to red */
                opacity: 0.5; 
}


.xAxis path, .xAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.yAxis path, .yAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
